/* PORTADA */
.portada {
    background-image: url('/assets/peliculas/bg/bg_jw1.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: calc(100vh - 80px);
    border-bottom: 1px solid rgb(205, 205, 205);
}
.carta_portada {
    position: relative;
    width: 100%;
    height: 100%;
    color: rgb(225, 225, 225);
    padding: 10px 20px;
    margin-top: 150px;
    text-shadow: 0 0 2px black;
}
.carta_portada h1 {
    font-weight: bold;
    margin-bottom: 10px;
}
.carta_portada p {
    color: rgb(225, 225, 225);
    font-size: 1.25em;
    margin-bottom: 20px;
}
.carta_portada button {
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 10px;
}
/***************************/

/* PELICULAS */
/* grid peliculas */
.cont_peliculas,
.cont_series {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    margin-top: 50px;

}
.menu_h1_peliculas,
.menu_h1_series {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px 0;
}
.h1_peliculas,
.h1_series {
    font-size: 2em;
    margin: 5px 30px 5px 0;
    padding: 0;
    font-weight: bold;
}
.cat_peliculas,
.car_series {
    margin: 5px 0;
}
.cat_peliculas a,
.cat_series a {
    margin: 0 10px 0 0;
    padding: 0;
    font-size: 1.15em;
    font-weight: 500;
}

.carrusel_peliculas,
.carrusel_series { 
    /* CARRUSEL */
    width: 100%;
    min-width: 200px;
    max-width: 1200px;
    display: flex;
    border-radius: 10px;
    overflow-x: scroll;
    position: relative;
}
.carta_pelicula,
.carta_serie {
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
.img_pelicula,
.img_serie {
    width: 100%;
    min-width: 200px;
    max-width: 250px;
}
.img_pelicula img,
.img_serie img {
    width: 100%;
}
.titulo_pelicula h2,
.titulo_serie h2 {
    font-size: 1.2em;
    padding: 10px;
}


.ver_peliculas,
.ver_series {
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 200px;
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}


