body {
    position: relative;
    background-color: rgb(10, 10, 10);
}

h1, p, b {
    color: rgb(205, 205, 205);
}

.contenedor_padre {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.cont_imagen_titulo {
    flex-wrap: wrap;
    display: flex;
}
.imagen img {
    width: 125px;
    margin-right: 10px;
    border-radius: 5px;
}
.titulo button {
    border: none;
    background: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgba(205, 205, 205, 0.85);
}
.contenedor_reproducir {
    padding: 10px 0;
    border-top: 1px solid rgba(250, 250, 250, 0.25);
}
.menu_reproductor {
    margin: 10px 10px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btn_descargar,
.btn_idioma {
    color: rgb(205, 205, 205);
    padding: 2px 10px;
    margin: 5px 2px;
    border: none;
    background: none;
    border-radius: 5px;
    border: 1px solid rgba(250, 250, 250, 0.25);
}
.reproductor {
    width: 100%;
    padding: 10px;
}
.reproductor video {
    width: 100%;
    border-radius: 5px;

}