* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(15, 15, 15);
}
/* ETIQUETAS GLOBALES */
p,
a,
li {
    list-style: none;
    text-decoration: none;
    color: rgb(205, 205, 205);
}
/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
/* MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(10, 10, 10);
}
.cont_header {
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.25);
    color: rgb(205, 205, 205);
}
/* MENU MOBILE */
.menu_mobile {
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 80px;
    left: 0;
    margin-left: -105%;
    visibility: hidden;
    transition: all .5s ease-in-out;
}
.menu_mobile ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.menu_mobile a {
    border: 1px solid white;
    display: inline-block;
    text-align: center;
    width: 120px;
    padding: 10px 15px;
    color: rgb(205, 205, 205);
    margin-bottom: 20px;
    border-radius: 5px;
}
/* ANIMACION MENU */
.abrir_menu {
    visibility: visible;
    margin: 0;
}
/********************/

.peliculas {
    background-color: rgb(20, 20, 20);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categoriaPelicula {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: rgb(20, 20, 20);
}
.titulo_contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo_contenedor h1 {
    color: rgb(205, 205, 205);
}
.titulo_contenedor a {
    transition: all .3s ease-in-out;
}
.titulo_contenedor a:hover {
    color: rgb(35, 125, 255);
}
.contenedor {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.85);
    border-radius: 15px;
    margin: 10px 0;
    position: relative;
}
.carta {
    min-width: calc(100% - 20px);
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    color: rgb(205, 205, 205);
    user-select: none;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.portada {
    min-width: 100%;
    min-height: 100%;
}
.carta:hover {
    transform: scale(.98);
    border-radius: 5px;
}
.opacidad_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}
.cont_carta {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.cont_carta:hover {
    opacity: 1;
}
.titulo {
    color: rgb(205, 205, 205);
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    z-index: 210;
}

#btn_play {
    background-color: rgb(35, 125, 255);
    color: rgb(205, 205, 205);
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.5);
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: .75em;
    z-index: 210;
}


.btn_desplazar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn_desplazar button {
    width: 80px;
    height: auto;
    margin: 5px 10px;
    background: rgb(35, 35, 35);
    border: none;
    padding: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}
.btn_desplazar button:hover {
    background-color: rgba(35, 125, 255, 0.5);
}
.btn_desplazar i {
    color: rgb(205, 205, 205);
    font-size: 20px;
}

.separador {
    width: 90%;
    height: 1px;
    margin: 25px 0;
    background-color: rgba(250, 250, 250, 0.1);
}

@media screen and (min-width: 280px) {
    .carta {
        min-width: calc(50% - 20px);
    }
}
@media screen and ((min-width: 280px) and (max-width: 350px)){
    .titulo {
        font-size: .75em;
    }
}

@media screen and (min-width: 500px) {
    .carta {
        min-width: calc(33.33333333333333% - 20px);
    }
}

@media screen and (min-width: 700px) {
    .carta {
        min-width: calc(25% - 20px);
    }
    .titulo {
        font-size: 1em;
    }
    #btn_play {
        font-size: 1em;
    }
}

@media screen and (min-width: 900px) {
    .carta {
        min-width: calc(20% - 20px);
    }
    .titulo {
        font-size: 1.25em;
    }
}


.contendor_1 {
    width: auto;
    position: relative;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-auto-rows: auto;
    gap: 20px;
}