body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor_menu_h1 {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
}
.h1_ver_todo {
    width: auto;
    padding: 0 20px 5px;
    position: relative;
}
.nav_ver_todo {
    width: 250px;
    display: flex;
    padding:  0 0 0 20px;
    position: relative;
}
.nav_ver_todo button {
    font-size: 1em;
    font-weight: 500;
    margin: 0 20px 5px 0;
    padding: 5px 2px;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
#menu_genero {
    background-color: rgba(0, 0, 0, 0.5);
    width: 150px;
    position: absolute;
    padding: 10px;
}

#menu_ordenar {
    background-color: rgba(0, 0, 0, 0.5);
    width: 150px;
    position: absolute;
    left: 95px;
    padding: 10px;
}
#menu_genero li,
#menu_ordenar li {
    margin-bottom: 5px;
}
.menu {
    display: none;
}
.menu_mostrar {
    display: block;
}

/* GRID */
.ver_todo_peliculas {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/* CARTA PELICULAS */
.carta {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: calc(50% - 20px);
    margin: 10px;
}
.img_carta {
    width: 100%;
    margin: 0;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-bottom: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.img_carta img {
    width: 100%;
}
.titulo {
    border: 1px solid rgba(250, 250, 250, 0.5);
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.titulo h2 {
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 1.25em;
}